  .container {
    margin-top: 50px;
    width: auto;
  }

  .col-md-6 {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 10px 5px 20px rgb(114, 108, 108);
    border-radius: 20px;
  }

  h2 {
    color: #007bff;
  }

  label {
    font-weight: bold;
  }

  .form-control {
    border-radius: 4px;
  }

  button {
    margin-top: 10px;
  }

  hr {
    border-top: 1px solid #dcdcdc;
  }

  .text-center a {
    text-decoration: none;
    color: #007bff;
  }

  .text-center a:hover {
    text-decoration: underline;
  }

  #title1{
    color: black;
  }
  #title2{
    color: red;
  }
  #title{
    text-align: left;
    padding-left: 5rem;
    padding-top: 2rem;
    font-size: 40px;
    background-color: rgb(238, 233, 225);
    padding-bottom: 2rem;
  }
  #bgimage {
    background-image: url('../images/sinup.avif');
    background-size: cover;
    background-repeat: no-repeat;
    height: 39.4rem;
}
@media screen and (max-width: 768px){
  .col-md-6 {
    margin-top: 30px;
    width: auto;
    margin: 20px;
    box-shadow: 10px 5px 20px rgb(114, 108, 108);
    border-radius: 20px;
  } 
}